# Python / Django
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
db.sqlite3
staticfiles/
media/
.env
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# Node / Web / Mobile
node_modules/
dist/
build/
.expo/
.expo-shared/
*.tsbuildinfo
.turbo/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
