DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=False
SECRET_KEY=troque-esta-chave-em-desenvolvimento
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=hub
DB_USER=hub
DB_PASSWORD=hub
DB_HOST=localhost
DB_PORT=5432

DB_TEST_NAME=hub_test

CORS_ALLOWED_ORIGINS=http://localhost:5173

SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=troque-pela-service-role-key-do-seu-projeto
SUPABASE_STORAGE_BUCKET=images
SUPABASE_STORAGE_BUCKET_PUBLICO=True
